@font-face {
  font-family: 'GrandisExtended-Black';
  src: url('../assets/fonts/GrandisExtended-Black.woff2') format('woff2'),
    url('../assets/fonts/GrandisExtended-Black.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GrandisExtended-Black';
  src: url('../assets/fonts/GrandisExtended-Black.woff2') format('woff2'),
    url('../assets/fonts/GrandisExtended-Black.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-color: #23282B;
  --text-color-hover;
  --primary-color;
  --request-color: #FFFF50;
  --bg-color;
  --section-color;
}


html {
  font-size: 1rem;
}

body {
  font-family: 'GrandisExtended-Black';
  height: 100%;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo {
  flex-shrink: 0;
}

.container {
  max-width: 1448px;
  margin: 0px auto;
  padding: 0px 150px 0px 150px;
  box-sizing: border-box;
  width: 100%;

}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;

}

.header__item {
  display: flex;
  flex-direction: row;
}

.main {
  flex: 1 1 auto;
}

.footer {
  text-align: center;

}

.header__container {
  position: relative;
  display: flex;
  max-height: 82px;
  align-items: center;
  background-color: white;
}

.h1 {
  margin: 0;
  font-family: GrandisExtended-Black;
  font-size: 3.125rem;
  line-height: 120%;
  color: var(--text-color);
}

.h2 {
  margin: 0;
  font-family: GrandisExtended-Black;
  font-size: 1.875rem;
  line-height: 120%;
  color: var(--text-color);
}

.h3 {
  margin: 0;
  font-family: GrandisExtended-Black;
  font-size: 1.25rem;
  line-height: 120%;
  color: var(--text-color);
}

.menu {
  display: flex;
  margin: 17px 92px 17px 81px;
}

.menu__item {
  border: 1px solid #EBEFF0;
  border-radius: 100px;
  padding: 12px 24px;
  height: 48px;
  width: auto;

}

.menu__link {
  font-family: 'GrandisExtended-Black';
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}


.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.service-menu {
  display: none;
}



.ag-menu {
  display: none;
}

.menu__items {
  display: flex;
  padding-left: 0px;
  list-style: none;
  align-items: center;

}

.menu__item:not(:last-child) {
  margin-right: 8px;

}


.number {
  margin-right: 40px;
}

.tel__link {
  display: flex;
  justify-content: center;
  text-align: center;


}

.request {
  position: absolute;
  display: flex;
  border: #FFFF50;
  background: #FFFF50;
  border-radius: 100px;
  width: 212px;
  height: 48px;
  padding: 12px 24px;


}

.rqst__link {
  color: var(--text-color);
}

/------main----------------------------/

.main-img {
  display: flex;
  justify-content: center;
  position: absolute;
  object-fit: cover;
  margin-top: 82px;
}
