html {
    font-size: 1rem;
}
body {
    font-family: 'GrandisExtended-Black';
}

.header {
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.header__logo {
    display: flex;
    align-items: center;
    padding: 21px 0;
}
.header__link {
    flex-shrink: 0;
}
.logo1 {
    width: 25.95px;
    height: 25.95px;
    top: 26.95px;
    left: 150px;
    


}

.aidis {
    width: 125.41px ;
    height: 40px ;
    top: 21px ;
    left: 184.59px ;
    
}

.header__link {}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service {
    margin-left: auto;
}

.brending {}

.it-items {}

.promotion {}

.header-img {}

.top-text {}

.header_buttons {}

.left {}

.middle {}

.right {}